{% extends 'base.html.twig' %}

{% block title %}
Gérer les catégories
{% endblock title %}

{% block body %}

<h1>Gérer les catégories</h1>

{% for message in app.flashes('success') %}

<div class="alert alert-success">
    {{ message }}
</div>

{% endfor %}

<div class="container mt-4">

    <table class="table table-striped">
        <thead></thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
                <a href="{{ path('admin.category.edit', {id: category.id}) }}" class="btn btn-secondary">Editer</a>
                <form method="post" action="{{ path('admin.category.delete', {id: category.id})}}"
                    style="display:inline-block">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}" />
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <a class="btn btn-primary" href="{{ path('admin.category.new') }}">Créer une catégorie</a>

</div>

{% endblock %}